# Compiled class file
# *.class

# Log file
# *.log

# BlueJ files
# *.ctxt

# Mobile Tools for Java (J2ME)
# .mtj.tmp/

# Package Files #
# *.jar
# *.war
# *.ear
# *.zip
# *.tar.gz
# *.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
# hs_err_pid*
/.idea/
/src/main/md/design/.Archive/
/src/main/md/algorithmic/.Archive/
/src/main/md/concurrency/.Archive/
/src/main/md/jvm/.Archive/
/src/main/md/effective/.Archive/
/src/main/md/core/.Archive/
/blog/SourceCode/.Archive/
/blog/SourceCode/.md_configs.data
/blog/SourceCode/.me_configs.data
/blog/Interview/.Archive/
/blog/CoreJava/Base/.Archive/
/blog/CoreJava/Collection/.Archive/
/blog/DataStructure/.Archive/
/blog/CoreJava/Java8Feature/.Archive/
/blog/Concurrent/.Archive/
